NET "Clk" LOC="E3" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_a" LOC="T10" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_b" LOC="R10" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_c" LOC="K16" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_d" LOC="K13" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_e" LOC="P15" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_f" LOC="T11" | IOSTANDARD = LVCMOS33;
NET "o_Segment1_g" LOC="L18" | IOSTANDARD = LVCMOS33;
NET "sin" LOC="U13" | IOSTANDARD = LVCMOS33;
NET "a2" LOC="K2" | IOSTANDARD = LVCMOS33;
NET "a3" LOC="T14" | IOSTANDARD = LVCMOS33;
NET "a4" LOC="P14" | IOSTANDARD = LVCMOS33;
NET "a5" LOC="J14" | IOSTANDARD = LVCMOS33;
NET "a6" LOC="T9" | IOSTANDARD = LVCMOS33;
NET "a7" LOC="J18" | IOSTANDARD = LVCMOS33;
NET "a8" LOC="J17" | IOSTANDARD = LVCMOS33;
NET "St" LOC="V10" | IOSTANDARD = LVCMOS33;
NET "V" LOC="V11" | IOSTANDARD = LVCMOS33;
NET "Rdy" LOC="V12" | IOSTANDARD = LVCMOS33;